body {
  font-family: system-ui;
  margin: 0;
  padding: 0;
}

/* Navbar and welcome section */
#navbar {
  background-color: #E29AB3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#nav-list {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding: 1rem 2rem;
}

a:hover {
  background-color: #45567d;
}

#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FBEDDE;
}

/* Headings and projects/examples of what to build */
h1 {
  /* color: white; */
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3.2rem;
  color: #D864A9;
}

#welcome-section>p {
  color: #675D50;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.projects {
  margin: 0;
  padding: 8rem 2rem;
  text-align: center;
  background-color: #D1E3C4;
}

.project-img {
  flex-basis: calc(33.33% - 2rem);
  width: 200px;
  height: auto;
  /* this will maintain the aspect ratio */
  object-fit: cover;
  /* this will ensure the entire image is visible within the fixed width/height */
  max-height: 100%;
  max-width: 100%;
  margin: 5px;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  padding: 20px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 6rem;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.project-img:hover {
  border: 2px solid white
}

/* application section */

#application {
  background-color: #303841;
  height: 80vh;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input, button {
  width: 300px;
  border-radius: 5px;
  border: none;
  background-color: #E75480;
  color: white;
  padding: 15px;
  font-size: 16px;
}

@media(max-width: 800px) {
  h2 {
    font-size: 2.5rem;
  }
}